.register-valid{
 
    text-align:center;
   
    margin-top:3%;
   
    margin-bottom:3%;
   
    i{
   
      font-size:500%;
   
      color: white;
   
      background-color:green;
   
      border-radius:50%;
   
      padding:78px;
   
    }
   
  }
   

   
  .location-images{
   
    img{
   
    width:100%;
   
    height:auto;
   
    max-height: 300px;
   
    }
   
  }
   
  .icon-wrap{
    display: inline-block;
    width: 48px;
    cursor:pointer;
      height: 48px;
    line-height: 48px;
    padding-top:4px;
    background:$darkgray;
    border:1px solid $orange;
    color:$orange;
    transition:0.25s;
    &:hover{
      background:$orange;
      color:$darkgray;
    }
    
    }		
  .img-box-register{
    img{
      width:100%;
      height:auto;
    }
  }
  .go-back-button{
   
    padding: 7% 0;
    text-align:center;
   
  }
   
  
   
  .register-invalid{
   
    text-align:center;
   
    margin-top:3%;
   
    margin-bottom:3%;
   
    i{
   
      font-size:500%;
   
      color: white;
   
      background-color:red;
   
      border-radius:50%;
   
      padding:40px 50px;
   
    }
   
  }
   