.register-valid {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%; }
  .register-valid i {
    font-size: 500%;
    color: white;
    background-color: green;
    border-radius: 50%;
    padding: 78px; }

.location-images img {
  width: 100%;
  height: auto;
  max-height: 300px; }

.img-box-register img {
  width: 100%;
  height: auto; }

.go-back-button {
  padding: 7% 0;
  text-align: center; }

.register-invalid {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%; }
  .register-invalid i {
    font-size: 500%;
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: 40px 50px; }
