body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

.text-center {
  text-align: center; }

.equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.logo {
  font-size: 2rem; }
