body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

.text-center {
  text-align: center; }

.equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.logo {
  font-size: 2rem; }

.orange {
  background: #fa6400; }

.black {
  background: #231f20;
  color: white; }

.full-width {
  width: 100%; }

.offers .fas {
  font-size: 300%; }

.offers p {
  padding: 14% 0;
  font-weight: bold; }

.text-box {
  padding: 110px 10%; }

.img-box {
  overflow: hidden;
  height: 100%;
  width: 100%;
  min-height: 240px;
  margin: 0px !important;
  background-position: 50%;
  background-size: cover; }
  .img-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover; }

.nopadding {
  padding: 0 !important; }
