body {
  font-size: 17px;
  font-family: 'Montserrat', sans-serif; }

.text-center {
  text-align: center; }

.equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.logo {
  font-size: 2rem; }

.orange {
  background: #ff4e50;
  background: -webkit-gradient(linear, left top, right top, from(#ff4e50), to(#f9d423));
  background: -webkit-linear-gradient(left, #ff4e50, #f9d423);
  background: -o-linear-gradient(left, #ff4e50, #f9d423);
  background: linear-gradient(to right, #ff4e50, #f9d423); }

.black {
  background: #292425;
  color: white; }

.fa-spin {
  -webkit-animation: a 5s infinite linear !important;
  animation: a 5s infinite linear !important; }

.full-width {
  width: 100%; }

.header-space {
  padding: 40px 0; }

.offers .fas {
  font-size: 300%;
  padding: 14% 0 0 0; }

.offers p {
  padding: 14% 0;
  font-weight: bold; }

.text-box {
  padding: 110px 10%; }

.img-box {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 400px;
  padding-top: 10px;
  margin: 0px !important;
  background-position: 50%;
  background-size: cover; }
  .img-box .img-box-header {
    position: absolute;
    z-index: 5;
    color: white;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .img-box .img-box-header:nth-of-type(1) {
      top: unset;
      bottom: 20px; }
    .img-box .img-box-header h2, .img-box .img-box-header h3 {
      text-align: center;
      font-weight: bold; }
  .img-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover; }

.nopadding {
  padding: 0 !important; }

.location {
  text-align: center;
  padding: 5% 0; }
  .location i {
    font-size: 300%;
    padding: 5% 0; }
  .location p {
    font-size: 18px;
    font-weight: bold; }

.avatars {
  padding-bottom: 8%; }

.avatar {
  text-align: center; }
  .avatar img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }
    .avatar img:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

.sub-banner {
  background: url("https://images.unsplash.com/photo-1506377711776-dbdc2f3c20d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=896382c9f514b7af66733f2390f08eb0&auto=format&fit=crop&w=1350&q=80");
  background-color: #ff4e50;
  background-size: cover;
  height: 60vh;
  background-position: center;
  z-index: -5;
  color: white;
  display: block; }
  .sub-banner h1 {
    padding-left: 6%; }
    .sub-banner h1:first-of-type {
      padding-top: 2%; }

.darkgray {
  background: #363031;
  color: white; }

.brands img {
  width: 15%;
  padding: 6px 12px;
  margin: 0 0 20px 0;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .brands img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

.footer-section {
  padding: 3% 0; }

.js-fadein {
  opacity: 0; }

.banner {
  background: url("https://images.pexels.com/photos/355988/pexels-photo-355988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: black;
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  z-index: -5; }
  .banner h1 {
    font-size: 2rem; }
  @media (min-width: 768px) {
    .banner h1 {
      font-size: 2.5rem; } }
  .banner .hero {
    text-align: center;
    position: absolute;
    color: white; }
    .banner .hero-text {
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%); }
      .banner .hero-text h1 {
        margin-bottom: 2rem;
        font-size: 50px; }
      .banner .hero-text p {
        margin-top: -2rem; }
    .banner .hero-buttons {
      width: 50%;
      bottom: 20%;
      left: 50%;
      -webkit-transform: translate(-50%, -20%);
      -ms-transform: translate(-50%, -20%);
      transform: translate(-50%, -20%); }
      .banner .hero-buttons a {
        width: 100%;
        display: inline-block;
        margin: 2% 0; }
        @media (min-width: 768px) {
          .banner .hero-buttons a {
            width: 45%; } }
      @media (min-width: 768px) {
        .banner .hero-buttons {
          bottom: 35%;
          left: 50%;
          -webkit-transform: translate(-50%, -35%);
          -ms-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%); } }

.single-text-box {
  padding: 5% 10%; }
  @media (min-width: 768px) {
    .single-text-box {
      padding: 5% 0%; } }

#register-form {
  padding: 0;
  position: relative; }
  #register-form p {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    padding: 16px 4px; }
    @media (min-width: 768px) {
      #register-form p {
        padding: 30px 15px 0 15px; } }
  @media (min-width: 768px) {
    #register-form {
      padding: 0 50px 35px; } }
  #register-form input {
    width: 100%;
    padding: 8px 5px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid black;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }
    #register-form input:focus {
      outline: none; }
  #register-form .valid {
    position: absolute;
    font-size: 120%;
    color: green;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: none; }
  #register-form .hidden {
    opacity: 0; }
  #register-form .input-name-valid {
    right: 55px;
    top: 25px; }
  #register-form .input-lastname-valid {
    right: 55px;
    top: 87px; }
  #register-form .input-email-valid {
    right: 55px;
    top: 148px; }
  #register-form .register-button--js {
    width: 100%;
    display: block;
    cursor: pointer;
    background: white;
    font-size: 16px;
    padding: 12px 0;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    border: 2px solid #ff4e50;
    color: #ff4e50;
    opacity: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    #register-form .register-button--js:disabled {
      background: white;
      opacity: 0.4; }
    #register-form .register-button--js:hover:disabled {
      cursor: not-allowed; }
  #register-form:hover:enabled {
    background: #ff4e50;
    color: white; }

footer i {
  font-size: 140%;
  padding: 10px 5px; }

.cta, .cta::after {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }

.cta {
  background: none;
  width: 100%;
  cursor: pointer;
  border: 2px solid #ff4e50;
  color: #ff4e50;
  display: block;
  font-size: 16px;
  padding: 12px 0;
  font-weight: bold;
  position: relative;
  text-transform: uppercase; }
  .cta::before, .cta::after {
    background: #ff4e50;
    content: '';
    position: absolute;
    z-index: -1; }
  .cta:hover {
    color: white;
    text-decoration: none; }
  .cta::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0; }
  .cta:hover:after {
    width: 100%; }

.big-icon {
  font-size: 250%; }

.content-break {
  height: 100px; }
  .content-break i {
    padding: 5%; }

.icon-wrap {
  display: inline-block;
  width: 48px;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding-top: 4px;
  background: #292425;
  border: 1px solid #ff4e50;
  color: #ff4e50;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .icon-wrap:hover {
    background: #ff4e50;
    color: #292425; }

.panel-menu {
  padding: 5% 0; }

.open-panel {
  color: white;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  text-align: center;
  padding: 0px 0%;
  margin: 0 5px;
  display: inline-block;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  border-radius: 50%;
  cursor: pointer; }
  .open-panel .fas {
    font-size: 200%;
    padding: 12px 18px; }
  .open-panel:hover {
    -webkit-transform: translate(0, -7px);
    -ms-transform: translate(0, -7px);
    transform: translate(0, -7px); }

.active {
  background-color: white;
  color: #ff4e50; }
  .active .inner {
    border-bottom: 2px solid; }

hr {
  border-top: 1px solid black;
  margin: 0 25%;
  padding-bottom: 10%; }
