body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

.text-center {
  text-align: center; }

.equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.logo {
  font-size: 2rem; }

.orange {
  background: #f05f40; }

.black {
  background: #292425;
  color: white; }

.fa-spin {
  -webkit-animation: a 5s infinite linear !important;
  animation: a 5s infinite linear !important; }

.full-width {
  width: 100%; }

.header-space {
  padding: 40px 0; }

.offers .fas {
  font-size: 300%;
  padding: 14% 0 0 0; }

.offers p {
  padding: 14% 0;
  font-weight: bold; }

.text-box {
  padding: 110px 10%; }

.img-box {
  overflow: hidden;
  height: 100%;
  width: 100%;
  min-height: 350px;
  margin: 0px !important;
  background-position: 50%;
  background-size: cover; }
  .img-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover; }

.nopadding {
  padding: 0 !important; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 768px) {
    .location .img {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .location .text-box {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }

.avatars {
  padding-bottom: 8%; }

.avatar {
  text-align: center; }
  .avatar img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }
    .avatar img:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

.sub-banner {
  background: url("https://images.unsplash.com/photo-1506377711776-dbdc2f3c20d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=896382c9f514b7af66733f2390f08eb0&auto=format&fit=crop&w=1350&q=80");
  background-color: #f05f40;
  height: 50vh;
  background-position: center;
  z-index: -5; }

.darkgray {
  background: #363031;
  color: white; }

.brands img {
  width: 15%;
  padding: 6px 12px;
  margin: 0 0 20px 0;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .brands img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

.footer-section {
  padding: 7% 0; }

.js-fadein {
  opacity: 0; }

.banner {
  background: url("https://images.pexels.com/photos/355988/pexels-photo-355988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: #f05f40;
  height: 100vh;
  background-position: center;
  z-index: -5; }
  .banner h1 {
    font-size: 2rem; }
  @media (min-width: 768px) {
    .banner h1 {
      font-size: 2.5rem; } }
  .banner .hero {
    text-align: center;
    position: absolute;
    color: white; }
    .banner .hero-text {
      top: 45%;
      left: 50%;
      -webkit-transform: translate(-50%, -45%);
      -ms-transform: translate(-50%, -45%);
      transform: translate(-50%, -45%); }
      .banner .hero-text h1 {
        margin-bottom: 2rem; }
    .banner .hero-date {
      bottom: 10%;
      left: 10%;
      -webkit-transform: translate(-10%, -10%);
      -ms-transform: translate(-10%, -10%);
      transform: translate(-10%, -10%); }
      @media (min-width: 768px) {
        .banner .hero-date {
          bottom: 20%;
          left: 10%;
          -webkit-transform: translate(-10%, -20%);
          -ms-transform: translate(-10%, -20%);
          transform: translate(-10%, -20%); } }
    .banner .hero-location {
      bottom: 10%;
      left: 90%;
      -webkit-transform: translate(-90%, -10%);
      -ms-transform: translate(-90%, -10%);
      transform: translate(-90%, -10%); }
      @media (min-width: 768px) {
        .banner .hero-location {
          bottom: 20%;
          left: 50%;
          -webkit-transform: translate(-50%, -20%);
          -ms-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%); } }
    .banner .hero-logo {
      bottom: 2%;
      left: 50%;
      -webkit-transform: translate(-50%, -2%);
      -ms-transform: translate(-50%, -2%);
      transform: translate(-50%, -2%); }
      @media (min-width: 768px) {
        .banner .hero-logo {
          bottom: 20%;
          left: 90%;
          -webkit-transform: translate(-90%, -20%);
          -ms-transform: translate(-90%, -20%);
          transform: translate(-90%, -20%); } }

.single-text-box {
  padding: 5% 10%; }
  @media (min-width: 768px) {
    .single-text-box {
      padding: 5% 0%; } }

form {
  padding: 0;
  position: relative; }
  @media (min-width: 768px) {
    form {
      padding: 0 50px; } }
  form input {
    width: 100%;
    padding: 8px 5px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid black;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }
    form input:focus {
      outline: none; }
  form .valid {
    position: absolute;
    font-size: 120%;
    color: green;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: none; }
  form .hidden {
    opacity: 0; }
  form .input-name-valid {
    right: 55px;
    top: 25px; }
  form .input-lastname-valid {
    right: 55px;
    top: 87px; }
  form .input-email-valid {
    right: 55px;
    top: 148px; }
  form .register-button--js {
    width: 100%;
    display: block;
    cursor: pointer;
    background: white;
    font-size: 16px;
    padding: 12px 0;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    border: 2px solid #f05f40;
    color: #f05f40;
    opacity: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    form .register-button--js:disabled {
      background: white;
      opacity: 0.4; }
    form .register-button--js:hover:disabled {
      cursor: not-allowed; }
    form .register-button--js:hover:enabled {
      background: #f05f40;
      color: white; }

footer i {
  font-size: 140%;
  padding: 10px 5px; }

.cta, .cta::after {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s; }

.cta {
  background: none;
  width: 100%;
  cursor: pointer;
  border: 2px solid #f05f40;
  color: #f05f40;
  display: block;
  font-size: 16px;
  padding: 12px 0;
  font-weight: bold;
  position: relative;
  text-transform: uppercase; }
  .cta::before, .cta::after {
    background: #f05f40;
    content: '';
    position: absolute;
    z-index: -1; }
  .cta:hover {
    color: white;
    text-decoration: none; }
  .cta::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0; }
  .cta:hover:after {
    width: 100%; }

.big-icon {
  font-size: 250%; }

.content-break {
  height: 100px; }
  .content-break i {
    padding: 5%; }

.icon-wrap {
  display: inline-block;
  width: 48px;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding-top: 4px;
  background: #292425;
  border: 1px solid #f05f40;
  color: #f05f40;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .icon-wrap:hover {
    background: #f05f40;
    color: #292425; }
