body{
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
}
.text-center{
	text-align:center;
}

.equal-height{
	display:flex;
	align-items:stretch;
}
.logo{
	font-size:2rem;
}

.orange{
	background:#fa6400;
}
.black{
	background:#231f20;
	color:white;
}

.full-width{
	width:100%;
}
.offers{
	h1{
		padding:40px 0;
	}
	.fas{
		font-size:300%;
		padding:14% 0 0 0 ;
	}
	p{
		padding:14% 0;
		font-weight:bold;
	}
}
.text-box{
	padding:110px 10%;
}
.img-box{
	overflow: hidden;
	height: 100%;
	width: 100%;
	min-height: 240px;
	margin: 0px !important;
	background-position: 50%;
	background-size: cover;
	img{
		width:100%;
		height:100%;
		position:absolute;
		object-fit:cover;
	}
}
.nopadding{
	padding:0!important;
}
.location{
	display:flex;
	@media (min-width: 768px) {
		.img{
			order:1;
		}
		.text-box{
			order:2;
		}
	}
}
.js-fadein{
	opacity:0;
}
.banner{
	background:url('http://hdimages.org/wp-content/uploads/2016/10/imgur-wallpaper9.jpg');
	height:86vh;
	margin-top:-5vh;
	background-position: center; 
	z-index:-5;
}
.single-text-box{
	padding:5% 10%;
	@media (min-width: 768px) {
		padding:5% 0%;
	}
}