body{
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
}
.text-center{
	text-align:center;
}

.equal-height{
	display:flex;
	align-items:stretch;
}
.logo{
	font-size:2rem;
}

.orange{
	background:#fa6400;
}
.black{
	background:#231f20;
	color:white;
}

.full-width{
	width:100%;
}
.offers{
	.fas{
		font-size:300%;
	}
	p{
		padding:14% 0;
		font-weight:bold;
	}
}