body{
	font-size:16px;
	font-family: 'Montserrat', sans-serif;
}
.text-center{
	text-align:center;
}

.equal-height{
	display:flex;
	align-items:stretch;
}
.logo{
	font-size:2rem;
}

.orange{
	background:#fa6400;
}
.black{
	background:#292425;
	color:white;
}

.full-width{
	width:100%;
}
.header-space{
	padding:40px 0;
}
.offers{

	.fas{
		font-size:300%;
		padding:14% 0 0 0 ;
	}
	p{
		padding:14% 0;
		font-weight:bold;
	}
}
.text-box{
	padding:110px 10%;
}
.img-box{
	overflow: hidden;
	height: 100%;
	width: 100%;
	min-height: 240px;
	margin: 0px !important;
	background-position: 50%;
	background-size: cover;
	img{
		width:100%;
		height:100%;
		position:absolute;
		object-fit:cover;
	}
}
.nopadding{
	padding:0!important;
}
.location{
	display:flex;
	@media (min-width: 768px) {
		.img{
			order:1;
		}
		.text-box{
			order:2;
		}
	}
}

.avatar{
	text-align:center; 
	img{
		width:100%;
		height:auto;
		filter: grayscale(100%);
		transition:0.25s;
		&:hover{
			filter: grayscale(0%);
		}
	}	
}
.sub-banner{
	background:url('http://hdimages.org/wp-content/uploads/2016/10/imgur-wallpaper9.jpg');
	height:60vh;
	background-position: center; 
	z-index:-5;
}
.darkgray{
	background:#363031;
	color:white;
}
.brands{
	img{
		width:15%;
		padding:6px 12px;
		margin:0 2px 20px 2px;
		height:auto;
		filter: grayscale(100%);
		&:hover{
			filter: grayscale(0%);
		}
	}
}
.footer-section{
	padding:7% 0;
}
.js-fadein{
	opacity:0;
}
.banner{
	background:url('http://hdimages.org/wp-content/uploads/2016/10/imgur-wallpaper9.jpg');
	height:100vh;
	background-position: center; 
	z-index:-5;
	h1{
		font-size:2rem;
	}
	@media (min-width: 768px) {
		h1{font-size:2.5rem;}
	}
	.hero{
		text-align: center;
		position: absolute;
		color: white;
		&-text{
			top: 45%;
			left: 50%;
			transform: translate(-50%, -45%);
			h1{
				margin-bottom:2rem;
				
			}
		}
		&-date{
			bottom: 10%;
			left: 10%;
			transform: translate(-10%, -10%);
			@media (min-width: 768px) {
				bottom: 20%;
				left: 10%;
				transform: translate(-10%, -20%);
			}
		}
		&-location{
			bottom:10%;
			left:90%;
			transform: translate(-90%, -10%);
			@media (min-width: 768px) {
				bottom:20%;
				left: 50%;
				transform: translate(-50%, -20%);
			}
		}
		&-logo{
			bottom:2%;
			left:50%;
			transform: translate(-50%,-2%);
			@media (min-width: 768px) {
			bottom: 20%;
			left:90%;
			transform: translate(-90%, -20%);
			}
		}
	}
	.button-register{
		color:black;
		background:white;
		border:0;
		padding: 12px 50px;

	}	  
}
.single-text-box{
	padding:5% 10%;
	@media (min-width: 768px) {
		padding:5% 0%;
	}
}
form {
	padding:0 50px;
	input{
		width:100%;
		padding:8px 0;
		margin:10px 0;
		border:none;
		border-bottom:1px solid black;
		transition:0.25s;
		&:focus{
			outline:none;
		}
	}
	button{
		position:relative;
		width:100%;
		color:white;
		text-transform:uppercase;
		cursor:pointer;
		padding:12px 0;
		background:#fa6400;
		border:none;
		margin-top:10px;
		transition:0.2s;
		&:hover{
			background:#e65c00;
		}	
	}
} 
footer{
	i{
		font-size:140%;
		padding:10px 5px;
	}
}