$orange: #ff4e50;
$lightorange:#fd7942;
$darkgray: #292425;
body{
  font-size:17px;
  font-family: 'Montserrat', sans-serif;
}
.text-center{
  text-align:center;
}

.equal-height{
  display:flex;
  align-items:stretch;
}
.logo{
  font-size:2rem;
}

.orange{
	background:$orange;
	background: linear-gradient(to right, #ff4e50, #f9d423);
}
.black{
  background:$darkgray;
  color:white;
}
.fa-spin{
  animation:a 5s infinite linear!important;
}
.full-width{
  width:100%;
}
.header-space{
	padding:40px 0;
  }
  .offers{
  
	.fas{
	  font-size:300%;
	  padding:14% 0 0 0 ;
	}
	p{
	  padding:14% 0;
	  font-weight:bold;
	}
  }
  .text-box{
	padding:110px 10%;
  }
.image-section{
	margin:0!important;
		.img-box-header{
		position:absolute;
		z-index:5;
		color:black;
		bottom:20px;
		left: 50%;
		transform: translateX(-50%);
		}
		h2, h3{
			text-align:center;
			font-weight:bold;

		}
		.center{
			bottom:130px;
		}
	}

  .img-box{
	overflow: hidden;
	position:relative;
	height: 100%;
	width: 100%;
	min-height: 400px;
	padding-top:10px;
	margin: 0px !important;
	background-position: 50%;
	background-size: cover;

	img{
	  width:100%;
	  height:100%;
	  position:absolute;
	  object-fit:cover;
	}
  }
  .nopadding{
	padding:0!important;
  }

	.location{
		text-align:center;
		padding:5% 0;
		i{
			font-size:300%;
			padding:5% 0;
		}
		p{
			font-size:18px;
			font-weight:bold;
		}
	}
  .avatars{
	padding-bottom:8%;
  }
  .avatar{
	text-align:center; 
	img{
	  width:100%;
	  height:auto;
	  filter: grayscale(100%);
	  transition:0.25s;
	  &:hover{
		filter: grayscale(0%);
	  }
	}  
  }
  .sub-banner{
	background:url('https://images.unsplash.com/photo-1506377711776-dbdc2f3c20d9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=896382c9f514b7af66733f2390f08eb0&auto=format&fit=crop&w=1350&q=80');
	background-color:$orange;
	background-size:cover;
	height:60vh;
	background-position: center; 
	z-index:-5;
	color:white;
	display:block;
	h1{
		padding-left:6%;
		&:first-of-type{
			padding-top:2%;
		}
	}
  }
  .darkgray{
	background:#363031;
	color:white;
  }
  .brands{
	img{
	  width:15%;
	  padding:6px 12px;
	  margin:0 0 20px 0;
	  height:auto;
	  filter: grayscale(100%);
	  transition:0.25s;
	  &:hover{
		filter: grayscale(0%);
	  }
	}
  }
  .footer-section{
	padding:3% 0;
	.col-md-4{
		padding:5% 0;
		@media (min-width: 768px) {
			padding:0;
		}
	}
}
  .js-fadein{
	opacity:0;
  }
  .banner{
	background:url('https://images.pexels.com/photos/362875/pexels-photo-362875.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-color:black;
	background-attachment: fixed;
	background-size: cover;
	height:100vh;
	background-attachment: fixed;
	z-index:-5;
	.banner-text{
	  text-align: center;
		color: black;
		font-weight:bold;
	margin:0 auto;
	margin-top:70%;
	padding-left:0;
		@media (min-width: 768px) {
			padding-left:20%;
			margin-top:20%;
		}
		h2{
			font-size:24px;
			font-weight:bold;
			@media (min-width: 768px) {
				font-size:30px;
		}
	}
}
	}
  .single-text-box{
	padding:5% 10%;
	@media (min-width: 768px) {
	  padding:5% 0%;
	}
  }
  #register-form {
	padding:0;
	position:relative;
	p{
		text-align:center;
		font-weight:bold;
		font-style:italic;
		font-size:18px;
		padding:16px 4px;
		@media (min-width: 768px) {
			padding:30px 15px 0 15px;
		}
	}
	@media (min-width: 768px) {
	  padding:0 50px 35px;
	}
	input{
	  width:100%;
	  padding:8px 5px;
	  margin:10px 0;
	  border:none;
	  border-bottom:1px solid black;
	  transition:0.25s;
	  &:focus{
		outline:none;
	  }
	}
	.valid{
		position:absolute;
		font-size:120%;
		color:green;
		transition:0.5s;
		display:none;
	  }
	  .hidden{
		opacity:0;
	  }
	  .input{
		&-name-valid{
		  right:55px;
		  top:25px;  
		}
		&-lastname-valid{
		  right:55px;
		  top:87px;
		}
		&-email-valid{
		  right:55px;
		  top:148px;
		}
		}

	  .register-button--js{
		width:100%;
		display: block;
		cursor:pointer;
		background:white;
		  font-size:16px;
		  padding:12px 0;
		 font-weight: bold;
		  position: relative;
		text-transform: uppercase;
		border: 2px solid $orange;
		color: $orange;
		opacity:1;
		transition:0.4s;
		  &:disabled{
		  background:white;
		  opacity:0.4;
		  }
		  &:hover:disabled{
			cursor:not-allowed;
			}
		}
		  &:hover:enabled{
			background:$orange;
			color:white;
		  }
	  }
	footer{
		i{
		  font-size:140%;
		  padding:10px 5px;
		}
	  }
		.cta{
			background-color: transparent;
			color: $orange;
			border: 2px solid $orange;
			padding: 12px 30px;
			margin-top:20px;
			transition:0.25s;
			transform: translate(0,0);
			&:hover{
				color:white;
				background-color:$orange;
				text-decoration:none;
				transform: translate(0,-10px);
			}
			a{
				text-decoration:none;
			}
		}

		  
		  .big-icon{
			font-size:250%;
		  }
		  .content-break{
			height:100px;
			i{
			  padding:5%;
			}
		  }
		  .icon-wrap{
			display: inline-block;
			width: 48px;
			cursor:pointer;
			  height: 48px;
			line-height: 48px;
			padding-top:4px;
			background:$darkgray;
			border:1px solid $orange;
			color:$orange;
			transition:0.25s;
			&:hover{
			  background:$orange;
			  color:$darkgray;
			}
		  
		  }				

.panel-menu{
	padding:5% 0;
}
.panel{
	min-height:400px;
	p{
		padding:24px 10px;
	}
}
.open-panel{
	color:white;
	background-color: $lightorange;
	border:1px solid $lightorange;
	text-align:center;
	padding: 0px 0%;
	margin: 0 5px;
	display:inline-block;
	transition:0.25s;
	border-radius:2px;
	cursor:pointer;
	.fas{
		font-size:200%;
		padding:12px 18px;
	}
	&:hover{
	transform:translate(0, -7px);
	}
}
.active{
	background-color:white;	
	color:$lightorange;
		transform:translate(0, -7px);
	.inner{
		border-bottom:2px solid;
	}
}
hr{
	border-top:1px solid black;
	margin:0 25%;
	padding-bottom:10%;
}